@{
    Layout = null;
}
<html>
<head>
    <title>Αρχεία Εικόνων</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    <script src="@Url.Content("~/Scripts/UploadForm.js")"></script>
</head>
<body>
    <div id="content"></div>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Style/MyForm.css")" />
    <script src="@Url.Content("~/Scripts/react/react-0.14.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react-dom-0.14.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/showdown.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ImageTemplate.jsx")"></script>
</body>
</html>
